*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    min-height: 100vh;
}

section{
    max-width: 1280px;
    margin: auto;
}

h1{
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

form{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1.5px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.2), -3px 0 3px rgb(0, 0, 0, 0.2);
    background-color: rgba(202, 201, 201, 0.2);
}

form article:nth-of-type(1), form article:nth-of-type(2), form article:nth-of-type(3), form article:nth-of-type(4) div{
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(135, 134, 134, 0.2);
}

form article:nth-of-type(1) p, form article:nth-of-type(2) p, form article:nth-of-type(3) p, form article:nth-of-type(4) div p{
    font-weight: bold;
    margin-bottom: 5px;
}

form article:nth-of-type(3){
    display: flex;
    flex-direction: column;
}

form article:nth-of-type(3) label{
    margin-bottom: 5px;
}

form article:nth-of-type(3) label span{
    color: red;
}

form article:nth-of-type(3) input{
    width: 30%;
    padding: 3px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#btn{
    padding: 5px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: none;
}

form article:nth-of-type(4){
    border-top: 1.5px solid black;
}

form article:nth-of-type(4) > p{
    margin: 10px 0;
    color: blue;
    font-weight: bold;
}

form article:nth-of-type(4) div:nth-of-type(1){
    margin-bottom: 10px;
}