*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  padding: 20px 5vw;
}

h1{
  text-align: center;
  margin-bottom: 30px;
}

section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5vw;
}

ol{
  font-size: 1.5rem;
  font-weight: bold;
}

ol > li a{
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  color: black;
}

ul li{
  margin-left: 3vw;
}

ul li a{
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: none;
  color: black;
}

a:hover{
  text-decoration: underline;
}